
.main{
    &-container{
        
        height: 80vh;
        text-align: center;
        background-image: url(../../../assets/bowler_large_background.png),url(../../../assets/team_large_background.png);
        background-position: right,left;
        background-repeat: no-repeat,no-repeat;
        align-content: center;
    }
}

.form-container{
    padding-top: 100px;
}