.footer{
    background-color: #d6d6d6;
    // position:absolute;
    // margin-top: aut;
    margin-top: 20px;
    
}
// .footer {
//     clear: both;
//     position: relative;
//     height: 200px;
//     margin-top: -200px;
// }
