

<footer class="page-footer font-small  pt-4 footer">

    
    <div class="container-fluid text-center text-md-left">
  
     
      <div class="row">
  
    
        <div class="col-md-6 mt-md-0 mt-3">
  
    
          <h5 class="text-uppercase">IPL Versus</h5>
          <p>Matchup players against each other or against a team in IPL.</p>
        </div>
    
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="https://forms.gle/oBCs6Lhx794gbhxX7">Feedback and Suggestions</a>
            </li>
            <li>
              <a href="https://forms.gle/d1ypPFcDcj33ruu96">Report Errors</a>
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://iplversus.in/"> iplversus.in</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->