<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">IPL Versus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li [class]="styles[0]" (click)="switchStyleOfNavs(0)">
          <a class="nav-link" routerLink="/batsvsbowl">Batsman Vs Bowler <span class="sr-only">(current)</span></a>
        </li>
        <li [class]="styles[1]" (click)="switchStyleOfNavs(1)">
          <a class="nav-link" routerLink="/batsvsteam">Batsman Vs Team <span class="sr-only">(current)</span></a>
        </li>
        <li [class]="styles[2]" (click)="switchStyleOfNavs(2)">
          <a class="nav-link" routerLink="/bowlvsteam">Bowler Vs Team <span class="sr-only">(current)</span></a>
        </li>
        
      </ul>
      
    </div>
</nav>