<div class="main-container">
    <div class="form-container">
    <form style="text-align: center;align-items: center;">
        <mat-form-field appearance="outline">
            <mat-label>Batsman</mat-label>
            <input type="text" placeholder="Search Batsman" aria-label="Batsman" matInput [formControl]="myControl1"
                [matAutocomplete]="auto1">
            <mat-autocomplete #auto1="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions1 | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    
    <br>
        <mat-form-field appearance="outline">
            <mat-label>Team</mat-label>
            <input type="text" placeholder="Search Team" aria-label="Team" matInput [formControl]="myControl2"
                [matAutocomplete]="auto2">
            <mat-autocomplete #auto2="matAutocomplete">
                <mat-option *ngFor="let option2 of filteredOptions2 | async" [value]="option2">
                    {{option2}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <br>
        <div *ngIf="error_msg!=undefined" class="error-msg">{{error_msg}}</div>
        <br>

    <button mat-flat-button color="primary" type="button" (click)="ButtonClick()" >Get Data</button>

    </form>
    </div>
</div>