<div class="main-container">
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Batsman</mat-label>
            <input type="text" placeholder="Search Batsman" aria-label="Batsman" matInput [formControl]="myControl1"
                [matAutocomplete]="auto1">
            <mat-autocomplete #auto1="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions1 | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>

    <form>
        <mat-form-field appearance="outline">
            <mat-label>Team</mat-label>
            <input type="text" placeholder="Search Team" aria-label="Team" matInput [formControl]="myControl2"
                [matAutocomplete]="auto2">
            <mat-autocomplete #auto2="matAutocomplete">
                <mat-option *ngFor="let option2 of filteredOptions2 | async" [value]="option2">
                    {{option2}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
    <div *ngIf="error_msg!=undefined">{{error_msg}}</div>

    <button mat-flat-button color="primary" (click)="ButtonClick()">Get Data</button>
</div>