.buttons-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.button{
    width: 300px;
    border: hidden;
    border-radius: 5px;
    height: 60px;
    font-size: 1.4em;
    margin-bottom: 25px;
    background-color: #c4c4c4;
}
.main-container{
    margin-top: 50px;
    margin-left:10%;
    width: 90%;
}
.para{
    font-size: 18px;
}
.batsman-img{
    margin-top: 50px;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 992px) {
    .batsman-img{
        visibility: hidden;
    }
    .main-container{
        align-content: center;
        // text-justify: inter-word;
    }
  }