<div class="main-container">

<div class="row">
    <div class="col-lg-7">
        <p class="para">IPL Versus is a website you can use to matchup players against each other or against a team in IPL. This site gives you all kind of statistics like Strike Rate, Average Economy and Batting Average. These statistics are also given for each year. This site also includes all kinds of interactive charts.</p>
        <div class="buttons-div">
            <button class="button" (click)="switchOnButtonClick(1)">Batsman Vs Bowler</button>
            <button class="button" (click)="switchOnButtonClick(2)">Batsman Vs Team</button>
            <button class="button" (click)="switchOnButtonClick(3)">Bowler Vs Team</button>
        </div>
    </div>
    <div class="col-lg-5 ">
        <img src="assets/batsman_large_background.png" class="batsman-img" >
    </div>
</div>
</div>
