.toolbar{
    &-logo{
        height: 40px;
        width: 40px;
        cursor: pointer;
    }
    &-title{
        cursor: pointer;
    }
}

.options{
    &-button{
        width: 100%;
        height: 50px;
        border: none;
        border-top: 2px black solid;
        border-bottom: 2px black solid;
        
    }
}
.main-div{
    margin-left: 20px;
    min-height: 70%;
}